.selected {
    stroke: red;
}

.selectionArea {
    fill: lightgrey;
    opacity: 0;
    cursor: crosshair;
}

.selectionArea:hover {
    opacity: 0.3;
}

.axisLabel {
    text-anchor: middle;
    font-family: sans-serif;
    font-size: 10px;
    fill: grey;
}

.axis {
    stroke: black;
}

.selectionBox {
    fill: none;
    stroke: grey;
}

